.Checking-Buttons {
  margin: 1em;
  
}

.Checking-Button{
background-color: blue;
margin: 0.5em;
padding: 0.5em;
border: none

}

.Checking-Button:hover {
  background-color: green;
  color: white;
}

