.App {
  display: flex;
  justify-content: space-evenly;
}

.title {
  font-size: 3em;
}

.Input {
  padding: 12px 20px;
  margin: 8px ;
  border: 1px solid #ccc;
  border-radius: 4px;

}

.add-button {
  background-color: cyan;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  margin: 2em;
  padding: 8px 16px
}

.List-Show-Buttons {
  list-style-type: none;
}

.Showing-Buttons {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.Showing-Button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px;
}

.Showing-Button:hover {
  background-color: #008CBA;
  color: black;
}

.List-Sort-Buttons {
  list-style-type: none;
}

.Sort-Buttons {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.Sort-Button {
  background-color: #008CBA;
  border: none;
  color: black;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px;
}

.Sort-Button:hover {
  background-color:  #4CAF50;
  color: white;
}